body {
  margin: 0;
  background: linear-gradient(90deg, rgba(204,205,223,1) 17%, rgba(126,154,200,1) 32%, rgba(89,107,170,1) 47%, rgb(137, 150, 233) 73%);
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Responsive Grid Layout */
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 80px;
}

/* Box Styling */
.box {
  background-color: rgb(233, 238, 238);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden; 
  word-wrap: break-word;
}

/* Experiences Box */
.experiences {
  background-color: #f8f9fa;
}

/* Resimler */
img {
  max-width: 100%;
  width: 350px;
  height: auto;
  border-radius: 5%;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Button Styling */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #5e49e1;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  padding-bottom: 0;
}

.button:hover {
  background-color: transparent;
}

.button .text {
  color: white;
  font-weight: 700;
  margin-bottom: 0;
}

.button:hover .text {
  color: #181717;
}

/* Responsive Design */
@media (max-width: 768px) {
  .box {
      padding: 15px;
  }
}
body > div > div.box.projects > h2, body > div > div.box.experiences > h2{
  font-weight: bold;
}


